    <div class="row">
      <div class="quizSolve">
        <div class="col span-2-of-3">
          <a href="index.html"><i class="icon-left ion-md-arrow-back"></i></a>
          <p>랜덤퀴즈 결과</p>
          <div class="quizWrong">
            <h5>퀴즈 결과: <%= @score*10 %>/100 점</h5>
            <h6>아주 좋습니다!</h6>
          </div>
          <a class="btn btn-share" href="#">
            퀴즈 공유하기
          </a>
          <a class="btn btn-full" href="/random/0">
            다른 랜덤퀴즈 풀기
          </a>
        </div>
      </div>
    </div>